n8n_lead_response_engine.json
{
  "name": "lead_response_engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "catalyst-webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "name", "value": "={{$json.body.lead.name}}" },
            { "name": "phone", "value": "={{$json.body.lead.phone}}" },
            { "name": "run_id", "value": "={{$json.body.automation_run_id}}" }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gupshup.io/sm/api/v1/msg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_API_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "whatsapp" },
            { "name": "source", "value": "YOUR_NUMBER" },
            { "name": "destination", "value": "={{$json.phone}}" },
            { "name": "message", "value": "{\"type\":\"text\",\"text\":\"Hi {{$json.name}}, thanks for your interest.\"}" }
          ]
        },
        "options": {}
      },
      "name": "WhatsApp Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "name": "Wait Follow-up",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gupshup.io/sm/api/v1/msg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_API_KEY" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "channel", "value": "whatsapp" },
            { "name": "source", "value": "YOUR_NUMBER" },
            { "name": "destination", "value": "={{$json.phone}}" },
            { "name": "message", "value": "{\"type\":\"text\",\"text\":\"Hi {{$json.name}}, just following up!\"}" }
          ]
        },
        "options": {}
      },
      "name": "Follow-up Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_DOMAIN/api/execution/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "INTERNAL_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "automation_run_id", "value": "={{$json.run_id}}" },
            { "name": "status", "value": "success" },
            { "name": "channel", "value": "whatsapp" },
            { "name": "external_id", "value": "gupshup_message_id" }
          ]
        },
        "options": {}
      },
      "name": "Callback Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_DOMAIN/api/execution/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "INTERNAL_API_KEY" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "automation_run_id", "value": "={{$json.run_id}}" },
            { "name": "status", "value": "failed" },
            { "name": "channel", "value": "whatsapp" },
            { "name": "error", "value": "message send failed" }
          ]
        },
        "options": {}
      },
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Set", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          { "node": "WhatsApp Send", "type": "main", "index": 0 }
        ]
      ]
    },
    "WhatsApp Send": {
      "main": [
        [
          { "node": "Wait Follow-up", "type": "main", "index": 0 }
        ],
        [
          { "node": "Callback Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait Follow-up": {
      "main": [
        [
          { "node": "Follow-up Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Follow-up Message": {
      "main": [
        [
          { "node": "Callback Success", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
